.cormorant-garamond{
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.caveat-thin {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}
.caveat-extra-light {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
.caveat-light {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.caveat-regular {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.caveat-medium {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.caveat-semi-bold {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.caveat-bold {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.caveat-extra-bold {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
